@import '../../global/styles.less';
@import '../../global/fonts.less';
@import '../../global/colors.less';

.chatListContainer {
  flex-direction: column;
  background: @lotion;
  border-right: 1px solid #EAEAEA;
  display: flex;
  height: 100%;
  width: 22rem;

  .arrow {
    position: absolute;
    padding: 0.25rem;
    box-shadow: 1px -1px 0 1px inset #999999;
    border: solid transparent;
    transition: 0.2s;
  }

  .arrow-right { transform:rotate(225deg) }  
}

.chatListContainer__profileLink {
  .fontRegular;
  color: @baseGray;
  font-size: 0.8rem;
  margin: 1.2rem 1.2rem 0 0;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.chatListContainer__profileLink:hover {
  text-decoration: underline;
}

.contactsContainer {
  margin: 1.2rem;
  overflow: scroll;
}
