@import '../../global/fonts.less';

.inputfieldVBox {
  display: flex;
  flex-direction: column;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.inputfieldHBox {
  display: flex;
}
