@import '../../global/fonts.less';

.inputfieldVBox {
  display: flex;
  flex-direction: column;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.inputfieldHBox {
  display: flex;
}

.error-message {
  font-family: 'Inter-regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  color: #1E1E1E;
  margin: 0.3rem 0 0 0;
  color: red;
}